{% extends "boilerplate.html" %}
{% block content %}
    <div class="rounded bg-danger bg-gradient">
        <h1 class="text-center">Rules & FAQ</h1>
    </div>
    <div class="bg-warning rounded text-center mt-2 mb-2 p-2 shadow">
        <h1>Rules</h1>
        <ul>
            <li>
                <h3>You should abide by any country Laws.</h3>
                <h3>Use common sense when talking about something</h3>
                <h3>Do not post anything about racism, drugs, or any illegal activites on the forum.</h3>
                <h3>Do not spread hatred or any vulgar activites on the forum</h3>
                <h3>Anything that is considered NSFW should only be kept on 18+ topics</h3>
            </li>
        </ul>

        <h1>FAQ</h1>
        <ul>
            <li>
                <h3>Do you guys have a Discord server? - Not at the moment</h3>
                <h3>Who made this website? - me</h3>
                <h3>How did you code this site? - I use Flask, html, css, js, bootstrap, sqlalchemy for database, and Flask WTForms for the login and stuff.</h3>
                <h3>Can I make one like these? - YES, if you can.</h3>
            </li>
        </ul>
    </div>
{% endblock content %}